<div class="well bs-component">
  <h1 class="text-center">This page not found</h1>
  <%= image_tag "404", class: "not_found" %>
  <h1 class="text-center"><strong>Ooops, looks like a ghost!</strong></h1>
  <p class="text-center">The page are you looking for can't found. Go home by <%= link_to "clicking here", root_path %></p>
  <div class="clearfix"></div>
</div>
