/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require jquery-ui
 *= require_self
 *= require_tree .
 */

.place_block{
    width: 150px;
    height: 125px;
    margin: 10px 0px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: red;
    display: inline-block;
    text-align: center;
 }
.booked_place_block{
	background-color: black;
}
.hidden-block{
	overflow: hidden;
	opacity: 0;
}
.place_block:hover .hidden-block{
	opacity: 1;
	overflow: hidden;
}

.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
footer.footer {
    bottom: 0;
    width: 100%;
}
.navi-btns {
    margin-top: 20px;
    margin-bottom: 20px;
}
select#film_session_cinema_id {
    width: 200px;
    height: 40px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 5px;
    display: block;
    font-size: 14px;
}
.m20{
  margin: 20px 0px;
}
.field_with_errors .message{
  color: red;
  padding-left: 5px;
  font-size: 12px;
}
.form-control{
  width: 50%!important;
}
