<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4>Location</h4>
        <p>Ukraine, Vinnytsia</p>
        <p>Phone: +38 (093) 5985 313</p>
        <p>Email: maxprofkom@gmail.com</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4>Around the web</h4>
        <a class="btn btn-social-icon btn-vk" target="_blank"  href="https://new.vk.com/id73197279"><span class="fa fa-vk"></span></a>
        <a class="btn btn-social-icon btn-facebook"  target="_blank" href="https://www.facebook.com/maxprofkom"><span class="fa fa-facebook"></span></a>
        <a class="btn btn-social-icon btn-github"  target="_blank" href="https://github.com/maxprof"><span class="fa fa-github"></span></a>
        <a class="btn btn-social-icon btn-linkedin"  target="_blank" href="https://www.linkedin.com/in/%D0%BC%D0%B0%D0%BA%D1%81%D0%B8%D0%BC-%D1%87%D0%B5%D1%80%D0%B5%D0%B2%D0%B0%D1%82%D0%BE%D0%B2-396252105?trk=hp-identity-photo"><span class="fa fa-linkedin"></span></a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h4>About developer</h4>
        <p>Max Cherevatov</p>
        <p>Ruby on Rails developer</p>
        <p>HTML/CSS, JS/Jquery</p>
      </div>
    </div>
  </div>
</footer>
